.container {
  padding: 47px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.hideSidebarButton {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: transparent;
  color: var(--gray);
  font-size: 15px;
  font-weight: 700;
  font-family: 'Plus Jakarta Sans', sans-serif;
  border: 0;
  transition: opacity .2s ease, transform .2s ease;
}

.hideSidebarButton:hover {
  cursor: pointer;
  opacity: .8;
}

.hideSidebarButton:active {
  transform: scale(0.95);
}

.icon {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("../../assets/images/eye-hide.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.wrapper {
  background-color: var(--background);
  transition: background-color .2s ease;
  border-radius: 6px;
  width: 100%;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.wrapper::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.wrapper::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/moon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  transition: transform .2s ease, background-color .2s ease;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.input:checked + .slider {
  background-color: var(--gray);
}

.input:checked + .slider:before {
  transform: translateX(20px);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 47px 12px;
  }
}
