.column {
  width: 280px;
}

.title {
  font-size: 12px;
  font-weight: 700;
  color: var(--gray);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
}
