.themeLight {
  --text: #000112;
  --background: #F4F7FD;
  --accent-background: #FFFFFF;
  --lines: #E4EBFA;
  --nav-hover: #F0EFFA;
  --add-board-button: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
}

.themeDark {
  --text: #FFFFFF;
  --background: #20212C;
  --accent-background: #2B2C37;
  --lines: #3E3F4E;
  --nav-hover: #FFFFFF;
  --add-board-button: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
}

.container {
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.2;
  color: var(--text);
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  align-items: flex-start;
}

.grid {
  grid-template-columns: 300px 1fr;
}

@media screen and (max-width: 1140px) {
  .grid {
    grid-template-columns: 260px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
