.icon {
  width: 152px;
  height: 26px;
  background-image: url("../../assets/images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.iconLight {
  background-image: url("../../assets/images/logo-light.svg");
}

@media screen and (max-width: 768px) {
  .icon {
    background-image: url("../../assets/images/logo-small.svg");
    width: 26px;
    height: 26px;
  }
}
