.title {
  font-size: 12px;
  font-weight: 700;
  color: var(--gray);
  text-transform: uppercase;
  padding-left: 32px;
  letter-spacing: 2px;
}

.list {
  padding-top: 20px;
  width: 90%;
  list-style: none;
}

.addButton {
  width: 100%;
  background-color: transparent;
  padding: 14px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  transition: opacity .2s ease;
  border: 0;
  color: var(--primary);
}

.addButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
