.sidebar {
  height: 100%;
  border-right: 1px solid var(--lines);
  background-color: var(--accent-background);
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  padding: 32px 32px 36px;
}

.container {
  padding-top: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
